In [77]:
# Learning : Keyboard shortcut to comment multiple lines in IDE in Command + /
# Learning : To get the count of unique values in a column, we should use dataframe name.column name.value_counts()

In [ ]:
import pandas as pd

In [79]:
cars = pd.read_csv('cars.csv')

In [102]:
cars.head()

,car name,sports_car,suv,wagon,minivan,pickup,all_wheel,rear_wheel,msrp,dealer_cost,eng_size,ncyl,horsepwr,city_mpg,hwy_mpg,weight,wheel_base,length,width
0,Chevrolet Aveo 4dr,False,False,False,False,False,False,False,11690,10965,1.6,4,103,28.0,34.0,2370.0,98.0,167.0,66.0
1,Chevrolet Aveo LS 4dr hatch,False,False,False,False,False,False,False,12585,11802,1.6,4,103,28.0,34.0,2348.0,98.0,153.0,66.0
2,Chevrolet Cavalier 2dr,False,False,False,False,False,False,False,14610,13697,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0
3,Chevrolet Cavalier 4dr,False,False,False,False,False,False,False,14810,13884,2.2,4,140,26.0,37.0,2676.0,104.0,183.0,68.0
4,Chevrolet Cavalier LS 2dr,False,False,False,False,False,False,False,16385,15357,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0

In [9]:
# 1- How many Rows are in the cars dataset?

In [20]:
cars.shape

(429, 1)

In [23]:
cars.shape[0]

429

In [ ]:
# 2- How many Columns are in the car's data set?

In [24]:
cars.shape[1]

1

In [31]:
cars.columns

Index(['cars'], dtype='object')

In [34]:
# cars.drop(['cars'], inplace = True)
# cars.drop([0], axis=0, inplace=True)
cars.drop(cars.index[0], inplace=True)

In [36]:
cars.columns

Index(['cars'], dtype='object')

In [39]:
cars.head()

                                                                                                                                                                            cars
name                        sports_car suv   wagon minivan pickup all_wheel rear_wheel msrp  dealer_cost eng_size ncyl horsepwr city_mpg hwy_mpg weight wheel_base length  width
Chevrolet Aveo 4dr          FALSE      FALSE FALSE FALSE   FALSE  FALSE     FALSE      11690 10965       1.6      4    103      28       34      2370   98         167        66
Chevrolet Aveo LS 4dr hatch FALSE      FALSE FALSE FALSE   FALSE  FALSE     FALSE      12585 11802       1.6      4    103      28       34      2348   98         153        66
Chevrolet Cavalier 2dr      FALSE      FALSE FALSE FALSE   FALSE  FALSE     FALSE      14610 13697       2.2      4    140      26       37      2617   104        183        69
Chevrolet Cavalier 4dr      FALSE      FALSE FALSE FALSE   FALSE  FALSE     FALSE      14810 13884       2.2      4    140      26       37      2676   104        183        68

In [40]:
cars.drop(cars.index[-1], inplace=True)

In [41]:
cars.columns

Index(['cars'], dtype='object')

In [42]:
cars.head()

                                                                                                                                                                            cars
name                        sports_car suv   wagon minivan pickup all_wheel rear_wheel msrp  dealer_cost eng_size ncyl horsepwr city_mpg hwy_mpg weight wheel_base length  width
Chevrolet Aveo 4dr          FALSE      FALSE FALSE FALSE   FALSE  FALSE     FALSE      11690 10965       1.6      4    103      28       34      2370   98         167        66
Chevrolet Aveo LS 4dr hatch FALSE      FALSE FALSE FALSE   FALSE  FALSE     FALSE      12585 11802       1.6      4    103      28       34      2348   98         153        66
Chevrolet Cavalier 2dr      FALSE      FALSE FALSE FALSE   FALSE  FALSE     FALSE      14610 13697       2.2      4    140      26       37      2617   104        183        69
Chevrolet Cavalier 4dr      FALSE      FALSE FALSE FALSE   FALSE  FALSE     FALSE      14810 13884       2.2      4    140      26       37      2676   104        183        68

In [81]:
cars = pd.read_csv('cars.csv', skiprows = 1)

In [83]:
cars.columns

Index(['name', 'sports_car', 'suv', 'wagon', 'minivan', 'pickup', 'all_wheel',
       'rear_wheel', 'msrp', 'dealer_cost', 'eng_size', 'ncyl', 'horsepwr',
       'city_mpg', 'hwy_mpg', 'weight', 'wheel_base', 'length', 'width'],
      dtype='object')

In [82]:
cars.head()

,name,sports_car,suv,wagon,minivan,pickup,all_wheel,rear_wheel,msrp,dealer_cost,eng_size,ncyl,horsepwr,city_mpg,hwy_mpg,weight,wheel_base,length,width
0,Chevrolet Aveo 4dr,False,False,False,False,False,False,False,11690,10965,1.6,4,103,28.0,34.0,2370.0,98.0,167.0,66.0
1,Chevrolet Aveo LS 4dr hatch,False,False,False,False,False,False,False,12585,11802,1.6,4,103,28.0,34.0,2348.0,98.0,153.0,66.0
2,Chevrolet Cavalier 2dr,False,False,False,False,False,False,False,14610,13697,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0
3,Chevrolet Cavalier 4dr,False,False,False,False,False,False,False,14810,13884,2.2,4,140,26.0,37.0,2676.0,104.0,183.0,68.0
4,Chevrolet Cavalier LS 2dr,False,False,False,False,False,False,False,16385,15357,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0

In [84]:
cars.shape

(428, 19)

In [47]:
# 3- How many unique numbers of cylinders we have in the cars dataset?

In [48]:
cars.columns

Index(['name', 'sports_car', 'suv', 'wagon', 'minivan', 'pickup', 'all_wheel',
       'rear_wheel', 'msrp', 'dealer_cost', 'eng_size', 'ncyl', 'horsepwr',
       'city_mpg', 'hwy_mpg', 'weight', 'wheel_base', 'length', 'width'],
      dtype='object')

In [49]:
cars.ncyl.value_counts()

 6     190
 4     136
 8      87
 5       7
 12      3
 10      2
-1       2
 3       1
Name: ncyl, dtype: int64

In [50]:
cars.ncyl.unique()

array([ 4,  6,  3,  8,  5, 12, 10, -1])

In [51]:
cars.shape

(428, 19)

In [52]:
cars.head()

,name,sports_car,suv,wagon,minivan,pickup,all_wheel,rear_wheel,msrp,dealer_cost,eng_size,ncyl,horsepwr,city_mpg,hwy_mpg,weight,wheel_base,length,width
0,Chevrolet Aveo 4dr,False,False,False,False,False,False,False,11690,10965,1.6,4,103,28.0,34.0,2370.0,98.0,167.0,66.0
1,Chevrolet Aveo LS 4dr hatch,False,False,False,False,False,False,False,12585,11802,1.6,4,103,28.0,34.0,2348.0,98.0,153.0,66.0
2,Chevrolet Cavalier 2dr,False,False,False,False,False,False,False,14610,13697,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0
3,Chevrolet Cavalier 4dr,False,False,False,False,False,False,False,14810,13884,2.2,4,140,26.0,37.0,2676.0,104.0,183.0,68.0
4,Chevrolet Cavalier LS 2dr,False,False,False,False,False,False,False,16385,15357,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0

In [65]:
cars.head()

,name,sports_car,suv,wagon,minivan,pickup,all_wheel,rear_wheel,msrp,dealer_cost,eng_size,ncyl,horsepwr,city_mpg,hwy_mpg,weight,wheel_base,length,width,car name
0,Chevrolet Aveo 4dr,False,False,False,False,False,False,False,11690,10965,1.6,4,103,28.0,34.0,2370.0,98.0,167.0,66.0,Chevrolet Aveo 4dr
1,Chevrolet Aveo LS 4dr hatch,False,False,False,False,False,False,False,12585,11802,1.6,4,103,28.0,34.0,2348.0,98.0,153.0,66.0,Chevrolet Aveo LS 4dr hatch
2,Chevrolet Cavalier 2dr,False,False,False,False,False,False,False,14610,13697,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0,Chevrolet Cavalier 2dr
3,Chevrolet Cavalier 4dr,False,False,False,False,False,False,False,14810,13884,2.2,4,140,26.0,37.0,2676.0,104.0,183.0,68.0,Chevrolet Cavalier 4dr
4,Chevrolet Cavalier LS 2dr,False,False,False,False,False,False,False,16385,15357,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0,Chevrolet Cavalier LS 2dr

In [53]:
cars.tail()

,name,sports_car,suv,wagon,minivan,pickup,all_wheel,rear_wheel,msrp,dealer_cost,eng_size,ncyl,horsepwr,city_mpg,hwy_mpg,weight,wheel_base,length,width
423,Nissan Titan King Cab XE,False,False,False,False,True,True,False,26650,24926,5.6,8,305,14.0,18.0,5287.0,140.0,NaN,NaN
424,Subaru Baja,False,False,False,False,True,True,False,24520,22304,2.5,4,165,21.0,28.0,3485.0,104.0,NaN,NaN
425,Toyota Tacoma,False,False,False,False,True,False,True,12800,11879,2.4,4,142,22.0,27.0,2750.0,103.0,NaN,NaN
426,Toyota Tundra Regular Cab V6,False,False,False,False,True,False,True,16495,14978,3.4,6,190,16.0,20.0,3925.0,128.0,NaN,NaN
427,Toyota Tundra Access Cab V6 SR5,False,False,False,False,True,True,False,25935,23520,3.4,6,190,14.0,17.0,4435.0,128.0,NaN,NaN

In [54]:
# 4- what is the average horsepower of cars?

In [55]:
cars.columns

Index(['name', 'sports_car', 'suv', 'wagon', 'minivan', 'pickup', 'all_wheel',
       'rear_wheel', 'msrp', 'dealer_cost', 'eng_size', 'ncyl', 'horsepwr',
       'city_mpg', 'hwy_mpg', 'weight', 'wheel_base', 'length', 'width'],
      dtype='object')

In [56]:
cars.horsepwr.describe()

count    428.000000
mean     215.885514
std       71.836032
min       73.000000
25%      165.000000
50%      210.000000
75%      255.000000
max      500.000000
Name: horsepwr, dtype: float64

In [57]:
# 5- what is the maximum horsepower?
max      500.000000

In [58]:
# 6- what is the most expensive car?

In [59]:
cars[cars.dealer_cost == max(cars.dealer_cost)]

,name,sports_car,suv,wagon,minivan,pickup,all_wheel,rear_wheel,msrp,dealer_cost,eng_size,ncyl,horsepwr,city_mpg,hwy_mpg,weight,wheel_base,length,width
287,Porsche 911 GT2 2dr,True,False,False,False,False,False,True,192465,173560,3.6,6,477,17.0,24.0,3131.0,93.0,175.0,72.0

In [60]:
# 7- change the name of the column "name" to "car name"

In [61]:
cars.columns

Index(['name', 'sports_car', 'suv', 'wagon', 'minivan', 'pickup', 'all_wheel',
       'rear_wheel', 'msrp', 'dealer_cost', 'eng_size', 'ncyl', 'horsepwr',
       'city_mpg', 'hwy_mpg', 'weight', 'wheel_base', 'length', 'width'],
      dtype='object')

In [63]:
cars['car name'] = cars['name']

In [64]:
cars.columns

Index(['name', 'sports_car', 'suv', 'wagon', 'minivan', 'pickup', 'all_wheel',
       'rear_wheel', 'msrp', 'dealer_cost', 'eng_size', 'ncyl', 'horsepwr',
       'city_mpg', 'hwy_mpg', 'weight', 'wheel_base', 'length', 'width',
       'car name'],
      dtype='object')

In [66]:
cars.shape

(428, 20)

In [69]:
# data.drop(["Team", "Weight"], axis = 1, inplace = True)
cars.drop("car name",axis = 1, inplace = True)

In [87]:
cars.shape

(428, 19)

In [71]:
cars.columns

Index(['name', 'sports_car', 'suv', 'wagon', 'minivan', 'pickup', 'all_wheel',
       'rear_wheel', 'msrp', 'dealer_cost', 'eng_size', 'ncyl', 'horsepwr',
       'city_mpg', 'hwy_mpg', 'weight', 'wheel_base', 'length', 'width'],
      dtype='object')

In [72]:
# 7- change the name of the column "name" to "car name"

In [85]:
cars = cars.rename(columns = {'name':'car name'})

In [86]:
cars.columns

Index(['car name', 'sports_car', 'suv', 'wagon', 'minivan', 'pickup',
       'all_wheel', 'rear_wheel', 'msrp', 'dealer_cost', 'eng_size', 'ncyl',
       'horsepwr', 'city_mpg', 'hwy_mpg', 'weight', 'wheel_base', 'length',
       'width'],
      dtype='object')

In [76]:
# 8- make a subset of the data that has the car name, 
# the price and name the new sub-setted data frame  car pricing.

In [88]:
car_pricing = cars[['car name','dealer_cost']]

In [89]:
car_pricing

                            car name  dealer_cost
0                 Chevrolet Aveo 4dr        10965
1        Chevrolet Aveo LS 4dr hatch        11802
2             Chevrolet Cavalier 2dr        13697
3             Chevrolet Cavalier 4dr        13884
4          Chevrolet Cavalier LS 2dr        15357
..                               ...          ...
423         Nissan Titan King Cab XE        24926
424                      Subaru Baja        22304
425                    Toyota Tacoma        11879
426     Toyota Tundra Regular Cab V6        14978
427  Toyota Tundra Access Cab V6 SR5        23520

[428 rows x 2 columns]

In [90]:
# 9- create a function called pricing category that returns "Budget Car " if the cars are less than 20,000 USD,
# " Suitable Car " is the car is more than 20,000 and less than 35 000 and finally an expensive car for cars 
# more than 35000.

In [92]:
def pricing_category(price):
    if price < 20000:
        return "Budget Car"
    elif price >= 20000 and price <35000:
        return "Suitable Car"
    elif price >= 35000:
        return "Expensive Car"

In [93]:
pricing_category(20000)

'Suitable Car'

In [94]:
pricing_category(19990)

'Budget Car'

In [98]:
def pricing_category(price):
#     if price < 20000:
    if(price < 20000):
        a = 'Budget Car'
#         return "Budget Car"
    if((price >= 20000)&(price < 35000)):
        a = 'Suitable Car'
#     elif price >= 20000 and price <35000:
#         return "Suitable Car"
    if(price >= 35000):
        a = 'Expensive Car'
#     elif price >= 35000:
#         return "Expensive Car"
    return a
# Learning : Keyboard shortcut to comment multiple lines in IDE in Command + /

In [100]:
# pricing_category(20000)
pricing_category(19990)

'Budget Car'

In [101]:
# 10- create a column named category on the subset using a for loop and pricing category function.

In [118]:
car_pricing.columns

Index(['car name', 'dealer_cost', 'category'], dtype='object')

In [117]:
car_pricing['category'] = 'N/A'
for i in cars.index:
    car_pricing.category[i] = pricing_category(car_pricing.dealer_cost[i])
#     a = car_pricing['dealer_cost']
#     car_pricing[category] = pricing_category(a)
#    print(i)
# car_pricing[category] = car_pricing[]

/var/folders/m9/vh6kqpzx6cd0dmkxnmnhf8mc0000gn/T/ipykernel_6486/436758988.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_pricing['category'] = 'N/A'
/var/folders/m9/vh6kqpzx6cd0dmkxnmnhf8mc0000gn/T/ipykernel_6486/436758988.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_pricing.category[i] = pricing_category(car_pricing.dealer_cost[i])

In [119]:
car_pricing

                            car name  dealer_cost      category
0                 Chevrolet Aveo 4dr        10965    Budget Car
1        Chevrolet Aveo LS 4dr hatch        11802    Budget Car
2             Chevrolet Cavalier 2dr        13697    Budget Car
3             Chevrolet Cavalier 4dr        13884    Budget Car
4          Chevrolet Cavalier LS 2dr        15357    Budget Car
..                               ...          ...           ...
423         Nissan Titan King Cab XE        24926  Suitable Car
424                      Subaru Baja        22304  Suitable Car
425                    Toyota Tacoma        11879    Budget Car
426     Toyota Tundra Regular Cab V6        14978    Budget Car
427  Toyota Tundra Access Cab V6 SR5        23520  Suitable Car

[428 rows x 3 columns]

In [120]:
# 11- How many Budget cars, suitable cars, and expensive cars we have?

In [128]:
# cars.ncyl.value_counts()
car_pricing.category.value_counts()

Suitable Car     191
Budget Car       124
Expensive Car    113
Name: category, dtype: int64

In [129]:
# Learning : To get the count of unique values in a column, we should use dataframe name.column name.value_counts()